<nav class="navbar navbar-expand-lg" style="background-color: #938e93">
  <div class="container-fluid">
    <a class="navbar-brand">The Lab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to 'Home', root_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
        <%= link_to 'Information', home_main_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
        <%= link_to 'Tracker', trackers_path, class:"nav-link"%>
        </li>
    </div>
  </div>
</nav>