<h1>Welcome to the information page!</h1>
<p>Here you can learn about different exercises to improve your workout routine!</p>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Smith Machine Incline Press</h5>
          <h6 class="card-text">Target: Upper Chest</h6>
          <p class="card-text">The incline press with smith machine is a fantastic upper chest workout which leads to great stimulation and
          activation, a slow and controlled motion will lead to a great squeeze to work the upper chest</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lat Pull Down</h5>
          <h6 class="card-text">Target: Lats</h6>
          <p class="card-text">The lateral pull down is the go-to machine to build a broader back, keeping your chin back and back straight then
          bringing the bar staight down to your chest is vital to target the correct muscle.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dips</h5>
          <h6 class="card-text">Target: Triceps</h6>
          <p class="card-text">A common misconception is that you need big biceps for big arms. But did you know the tricep is the biggest muscle on your arm?
          It is incredibly important to train triceps often on an arm day. A great exercise for this is dips.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Leg Press</h5>
          <h6 class="card-text">Target: Quads</h6>
          <p class="card-text">The common leg press is a staple in building your quads, allowing for more flexibility and strength 
          so you can run and walk much easier and faster. It is important when doing a leg press to keep your feet positioned low, rather than up high
          as this will cause you to work your glutes instead of quads.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lateral Raises</h5>
          <h6 class="card-text">Target: Shoulder</h6>
          <p class="card-text">The lateral raise is one of the most common shoulder excercises due to its simplicity and effectivness. Pushing out hard and controlling
          your eccentric movements creates great stimulation in the muscle.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Stairmaster</h5>
          <h6 class="card-text">Target: Cardiovascular System</h6>
          <p class="card-text">One of the most important favours you could do to your body is cardio. The stairmaster is a fantastic machine that simulates
            using the stairs, listening to music or a podcast while doing this makes it more enjoyable.</p>
        </div>
      </div>
    </div>
  </div>
</div>